<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="BatchAudioStreamEncoder.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <BatchAudioStreamEncoder.Properties.Settings>
            <setting name="DefaultBitrate" serializeAs="String">
                <value>96</value>
            </setting>
            <setting name="DefaultFileMask" serializeAs="String">
                <value>*.flv|*.wmv|*.avi|*.mp4|*.mov</value>
            </setting>
            <setting name="SupportedBitrates" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>64</string>
                        <string>96</string>
                        <string>128</string>
                        <string>192</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="DefaultVLCLocation64" serializeAs="String">
                <value>C:\Program Files\VideoLAN\VLC\vlc.exe</value>
            </setting>
            <setting name="VLCExecutable" serializeAs="String">
                <value>Please set VLC.exe location</value>
            </setting>
            <setting name="DefaultVLCLocation32" serializeAs="String">
                <value>C:\Program Files (x86)\VideoLAN\VLC\vlc.exe</value>
            </setting>
            <setting name="IsPrefixingEnabled" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OutputFolder" serializeAs="String">
                <value>Not Set</value>
            </setting>
        </BatchAudioStreamEncoder.Properties.Settings>
    </userSettings>
</configuration>
